<div class="d-flex justify-content-center pt-5">
<div class="card">
  <h5 class="card-header">Login  </h5>
  <div class="card-body">
    <h5 class="card-title text-center">Enter your login information</h5>
    <form [formGroup]="loginForm" (submit)="logIn()">
      <div class="row ">
        <!--UserName-->
        <div class="my-1 form-group">
          <label class="sr-only" for="userName">User Name</label>
          <input type="text" class="form-control" id="userName" placeholder="Enter User Name" formControlName="userName">
            <label class="text-danger" role="alert"
            *ngIf="isErrorSubmited && loginForm.get('userName')?.hasError('required')"
            >Tihs Field Is Required</label>
        </div>
  
        <!--Password-->
        <div class="my-1">
          <label class="sr-only" for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter Password" formControlName="password">
          <label class="text-danger" role="alert"
          *ngIf="isErrorSubmited && loginForm.get('password')?.hasError('required')"
          >Tihs Field Is Required</label>
        </div>
  
        <div class="my-1 ">
          <button type="submit" class="btn btn-primary w-100" [disabled]="isLoading">
            <span *ngIf="!isLoading">LogIn</span>
            <span *ngIf="isLoading">Loading ...</span>
            
          </button>
        </div>
      </div>
    </form>
  
  </div>
</div>
