<div class="pt-5">
  <div class="card">
    <h5 class="card-header">Create Diagram</h5>
    <div class="card-body">
      <h5 class="card-title text-center">Enter your diagrams information</h5>
      <form [formGroup]="createForm" (submit)="submit()">
        <div class="row ">
          <!--Name-->
          <div class="my-1 form-group col-md-6 col-sm-12">
            <label class="sr-only" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name">
            <label class="text-danger" role="alert"
              *ngIf="isErrorSubmited && createForm.get('name')?.hasError('required')">Tihs Field Is Required</label>
          </div>

          <!--Tag-->
          <div class="my-1 form-group col-md-6 col-sm-12">
            <label class="sr-only" for="tag">Tag</label>
            <input type="text" class="form-control" id="tag" placeholder="Enter Tag" formControlName="tag">
            <label class="text-danger" role="alert"
              *ngIf="isErrorSubmited && createForm.get('tag')?.hasError('required')">Tihs Field Is Required</label>
          </div>

          <!--Diagram-->
          <div class="my-1 form-group col-sm-12 text-center">
            Options: Drag, Drop, CTRL+Z, CTRL+Y
            </div>
          <div class="my-1 form-group col-sm-12">
            <div style="width: 100%; display: flex; justify-content: space-between">
              <div id="myPaletteDiv" 
class="diagram-palette"><canvas tabindex="0" width="100" height="500" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 100px; height: 500px; cursor: auto;"></canvas><div style="position: absolute; overflow: auto; width: 100px; height: 500px; z-index: 1;"><div style="position: absolute; width: 1px; height: 1px;"></div></div></div>
              <div id="myDiagramDiv" class="diagram-demo"><canvas tabindex="0" width="954" height="500" style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 954px; height: 500px; cursor: auto;"></canvas><div style="position: absolute; overflow: auto; width: 954px; height: 500px; z-index: 1;"><div style="position: absolute; width: 1px; height: 1px;"></div></div></div>
            </div>
          </div>
          
          <div class="my-1  col-sm-12  row" [ngSwitch]="pageState">
            <button type="submit" class="btn btn-primary col m-1" *ngSwitchCase="'create'">Create</button>
            <button type="button" class="btn btn-info col m-1" *ngSwitchCase="'downlaod'" (click)="downlaodImage()">Downlaod Image</button>
            <button type="submit" class="btn btn-primary col m-1" *ngSwitchCase="'edit'">Save</button>
          </div>

        </div>
      </form>
    </div>
  </div>


  <app-geometry-string-tool (add)="addShape($event)"></app-geometry-string-tool>