<div class="pt-5">
  <div class="card">
    <h5 class="card-header">Create Custom Shep</h5>
    <div class="card-body">
      <h5 class="card-title text-center">Enter your shep geometry information</h5>
      <form [formGroup]="form" (submit)="submit()">
        <div class="row">

          <!--Settings-->
          <div class="col-sm-12 col-md-8 row">
            <div class="btn-group" role="group" aria-label="Basic example">
              <a type="button" href="javascript:void" (click)="inputType='range'" class="m-2" >Slider </a>  <a href="javascript:void"  class="m-2"  (click)="inputType='number'" > Input</a>
            </div>
            <table class="table table-striped ">
              <thead>
                <tr>
                  <th class="text-center">Name</th>
                  <th class="text-center">X1</th>
                  <th class="text-center">Y1</th>
                  <th class="text-center">X</th>
                  <th class="text-center">Y</th>
                </tr>
              </thead>
              <tbody>
                <!--Move commands-->
                <tr formGroupName="m">
                  <td>Move commands</td>
                  <td></td>
                  <td></td>
                  <td><input [type]="inputType" [min]="min" [max]="max" formControlName="x"></td>
                  <td><input [type]="inputType" [min]="min" [max]="max" formControlName="y"></td>
                </tr>
                <!--Line command-->
                <tr formGroupName="l1"
                  title="Line command adds a straight line segment from the previous point to the new point.">
                  <td>Line command</td>
                  <td></td>
                  <td></td>
                  <td><input [type]="inputType" [min]="min" [max]="max" formControlName="x"></td>
                  <td><input [type]="inputType" [min]="min" [max]="max" formControlName="y"></td>
                </tr>
            <!--Quadratic Bezier Curves-->
                <tr title="Quadratic Bezier Curves" formGroupName="q1">
                  <td>Quadratic Bezier Curves</td>
                  <td><input [type]="inputType" [min]="min" [max]="max" formControlName="x1"></td>
                  <td> <input [type]="inputType" [min]="min" [max]="max" formControlName="y1"></td>
                  <td> <input [type]="inputType" [min]="min" [max]="max" formControlName="x"></td>
                  <td> <input [type]="inputType" [min]="min" [max]="max" formControlName="y"></td>
                </tr>
            <!--Line command-->
                <tr   title="Line command adds a straight line segment from the previous point to the new point."
                formGroupName="l2">
                  <td>Line command</td>
                  <td></td>
                  <td></td>
                  <td><input [type]="inputType" [min]="min" [max]="max" formControlName="x"></td>
                  <td><input [type]="inputType" [min]="min" [max]="max" formControlName="y"></td>
                </tr>
            <!--Quadratic Bezier Curves-->
                <tr title="Quadratic Bezier Curves" formGroupName="q2">
                  <td>Quadratic Bezier Curves</td>
                  <td><input [type]="inputType" [min]="min" [max]="max" formControlName="x1"></td>
                  <td><input [type]="inputType" [min]="min" [max]="max" formControlName="y1"></td>
                  <td><input [type]="inputType" [min]="min" [max]="max" formControlName="x"></td>
                  <td><input [type]="inputType" [min]="min" [max]="max" formControlName="y"></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="1">Color</td>
                  <td colspan="4">    <input type="color" formControlName="color" class="w-100"></td>
                </tr>
                <tr>
                  <td colspan="1">Geometry String Path</td>
                  
                  <td colspan="4">    
                    F
                    M{{form.value.m?.x}} {{form.value.m?.y}}
                    L{{form.value.l1?.x}} {{form.value.l1?.y}}
                    Q{{form.value.q1?.x1}} {{form.value.q1?.y1}} {{form.value.q1?.x}} {{form.value.q1?.y}}
                    L{{form.value.l2?.x}} {{form.value.l2?.y}}
                    Q{{form.value.q2?.x1}} {{form.value.q2?.y1}} {{form.value.q2?.x}} {{form.value.q2?.y}}
                    z</td>
                </tr>
              </tfoot>
            </table>
          </div>

          <!--Live Demo-->
          <div class="col-sm-12 col-md-4">
            <label>Live Demo</label>
            <div id="myDiagramDemo" class="diagram-demo">
              <canvas tabindex="0" width="954" height="250"
                style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 954px; height: 250px; cursor: auto;"></canvas>
              <div style="position: absolute; overflow: auto; width: 954px; height: 250px; z-index: 1;">
                <div style="position: absolute; width: 1px; height: 1px;"></div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary col m-1 w-100">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>